body{
    margin: 0;
    background-color: lightgray;
    
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.header{
    font-family: 'Kosugi Maru', sans-serif; 
    font-weight: 900;
    background-color: lightcoral;
    border-bottom: solid 2px crimson;
    
    width: 100%;
    margin-bottom: 90px;
    padding: 30px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.github-link{  
    font-weight:100;
    font-style: italic;
    color: black;
    text-decoration: none;
    
}

button.play-player,
button.play-computer{
    font-family: 'Kosugi Maru', sans-serif; 
    color: crimson;
    font-weight: bolder;
    cursor: pointer;
    padding: 15px;
    transition: 0.5s;
}

button.play-player:hover,
button.play-computer:hover{
    color: white;
    background-color: crimson;
}

.container{
    display: flex;
    flex-flow: row wrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

#gameboard{
    font-family: 'Mochiy Pop P One', sans-serif;

    display:grid;
    grid-template-columns: repeat(3,1fr);
}

#game-log{
    font-family: 'Kosugi Maru', sans-serif; 
}

.names-row{
    display: flex;
    flex-flow: row nowrap;


}
.player1-name,
.player2-name{
    font-weight: bolder;
    border:solid 5px crimson;
    padding: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.scores-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.player1-score,
.player2-score{
    height: 50px;
    width: 50%;
    font: bolder;
    text-decoration: underline crimson;

    display: flex;
    justify-content: center;
    align-items: center;
}

.board-square{
    background-color: lightgray;
    font-size: xx-large;

    border: solid 1px lightcoral;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    padding: 30px;
    line-height: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 33.333333%;
    
}

.board-square:hover{
    background-color: rgb(207, 205, 205) ;
}

.message-board{
    font-family: 'Kosugi Maru', sans-serif; 
    margin: 20px;
    
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

