body{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.title{
    margin: 30px;
    padding: 30px;
}

#gameboard{
    display:grid;
    grid-template-columns: repeat(3,1fr);
}

.board-square{
    border: solid 1px black;
    max-width: 100px;
    max-height: 100px;
    min-width: 100px;
    min-height: 100px;
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 33.333333%;
    
}